__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
OCR/fixtures/
*.egg-info/
.DS_Store
.vscode/
.Results/
D:\Advanced AI Programming\Zoca\Results
Results/
node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example